@import url('./RobotoBold.css');
@import url('./RobotoRegular.css');

:root{
    font-family: 'RobotoRegular',Arial, Helvetica, sans-serif;
    --gutter: 0.5rem;
    --colonne-1-1: calc(100% );
    --colonne-1-2: calc(50% );
    --colonne-1-3: calc(33% );
    --colonne-2-3: calc(66% );
    --colonne-1-4: calc(25% );
    --colonne-3-4: calc(75% );
}

/* déclarations générales */

*, *::before, *::after{
    box-sizing: border-box;
}

#showP{
    font-family: monospace;
}

#carre{
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 20px auto;
    transition: transform 1s;
}

.gauche{
    transform: translateX( calc( -1 * ( 50vw - 100px )) );
}

.droite{
    transform: translateX( calc(  50vw - 100px ) );
}

.table{
    border-collapse: collapse;
    width: 100%;
}

.table td{
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

.text-left td{
    text-align: left;
}

.slide-menu{
    background-color: white;
    position: absolute;
    left: -100vw;
    transition: transform 0.2s;
    z-index: 10;
     width: 80vw; 
}

.toggle-element{
    transform: translateX(102vw);
}

.user{
    border: 1px solid rgba(0,0,0,0.5);
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: var(--gutter);
    padding-top: var(--gutter);
    padding-bottom:var(--gutter);
    cursor: pointer;
}

.user:hover{
    background-color: rgba(0,0,0,0.1);
}

/* classes */

.testSpan{
    border: 3px solid #6aa241;
    width: 200px;
    height: 50px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
  }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
  }

.col-100, .col-50, .col-33, .col-66, .col-25, .col-75{
    width: var(--colonne-1-1);
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}

.fondGris20{
    background-color: rgba(0,0,0, 0.2);
}

.alertInput{
    border: 2px solid red;
}

#formValid input:focus{
    border: 2px solid red;
}

.alertFormValid{
    padding: 1rem;
    border: 3px solid darkred;
    background-color: rgba(139, 0, 0, 0.5);
    border-radius: 0.5rem;
}

.hidden{
    display: none;
}

p#test{
    padding: 1rem; 
    display: flex;
    flex-wrap: wrap;
}

ul.toDoList{
    list-style-type: none;
    padding: 0;
    border: 1px solid black;
    border-radius: 0.5rem;
}

ul.toDoList li{
    padding: 0.5rem;
    cursor: pointer;
}

ul.toDoList li:hover{
    background-color: rgba(0,0,0,0.2);
}

ul.toDoList li:not(ul#toDoList li:last-child){
    border-bottom: 1px solid black;
}

.pionRouge{
    background-color: darkred;
}

.pionJaune{
    background-color: darkgoldenrod;
}

#bddjson{
    height: 40vh;
    overflow: auto;
}

/* structure */

body{
    margin: 0;
}

nav ul.navigation{
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'RobotoBold';
    margin: 0;
}

a h1, a:visited h1{
    color: white;
}

a, a:visited{
    color: #007BFF;
    text-decoration: none;
    font-family: 'RobotoBold';
}

body > header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
}

body > footer{
    background-color: black;
    color: white;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* media queries */

@media  ( min-width: 576px){
    .container{
        width: 540px;
    }
}

@media ( min-width: 768px){
    .container{
        width: 720px;
    }

    nav ul.navigation{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    nav ul.navigation li{
        padding: 0.5rem 1rem;
    }

    .col-100{
        width: var(--colonne-1-1);
    }
    
    .col-50{
        width: var(--colonne-1-2);
    }
    
    .col-33{
        width: var(--colonne-1-3);
    }
    
    .col-66{
        width: var(--colonne-2-3);
    }
    
    .col-25{
        width: var(--colonne-1-4);
    }
    
    .col-75{
        width: var(--colonne-3-4);
    }

    .toggle-menu{
        display: none;
    }

    .slide-menu{
        position: relative;
        left: unset;
        transition: unset;
        width: 80%;
    }
    
    .toggle-element{
        transform: unset;
    }


}

@media ( min-width: 992px){
    .container{
        width: 960px;
    }
}

@media ( min-width: 1200px){
    .container{
        width: 1140px;
    }
}

@media ( min-width: 1400px){
    .container{
        width: 1320px;
    }
}